body {
    font-family: "Montserrat" !important;
}

.text-slanted {
    /*     font-family: "Indie Flower", cursive !important; */
    padding: 0 380px 0 380px !important;
    text-transform: capitalize !important;
    font-size: 3.5rem !important;
    margin-bottom: 40px;
}

.text-recipes {
    /*     font-family: "Indie Flower", cursive !important; */
    font-size: 2rem !important;
}

.text-orange {
    color: #f15025;
}

.letter-spacing {
    letter-spacing: 0.1rem;
}

.mobile-btn {
}

.btn-secondary {
    color: #fff !important;
    background-color: #f44336 !important;
    border-color: #ffffff !important;
}

.header-hero,
.default-hero {
    min-height: 100vh;
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
        url("./images/newimg.jpg") center/cover no-repeat;
}

.default-hero {
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
        url("./images/defaultBcg.jpeg") center/cover no-repeat;
}

@media screen and (max-width: 976px) {
    .text-slanted {
        /* font-family: "Indie Flower", cursive !important; */
        padding: 0 0 0 0 !important;
        text-transform: capitalize !important;
        font-size: 2rem !important;
        margin-bottom: 40px;
    }
    .mobile-btn {
        padding: 0.275rem 0.4rem !important;
    }
}
